{% load static %}
{% load i18n %}
		<noscript>
	    <style type="text/css">
	        .right_col {display:none;}
	    </style>
	    <div class="noscriptmsg" align=center>
				<h3>{% trans 'NoJS' %}</h3>
	    </div>
		</noscript>
			<!-- /footer content -->
		<footer>
			<div class="pull-right">
				{% trans 'TitleAdmin' %} by @Oz
			</div>
			<div class="clearfix"></div>
		</footer>
			 <!-- /footer content -->
		<!-- jQuery -->
		<script src="{% static 'adminSoccerPool/'%}vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="{% static 'adminSoccerPool/'%}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Custom Theme Scripts -->
		<script src="{% static 'adminSoccerPool/'%}build/js/custom.js"></script>
		<script src="{% static 'adminSoccerPool/'%}vendors/datatables.net/js/jquery.dataTables.js"></script>
		<script src="{% static 'adminSoccerPool/'%}vendors/datatables.net-bs/js/dataTables.bootstrap.js"></script>
		<script src="{% static 'adminSoccerPool/'%}vendors/iCheck/icheck.min.js"></script>
		<script src="{% static 'adminSoccerPool/'%}/vendors/moment/min/moment.min.js" ></script>
		<script src="{% static 'adminSoccerPool/'%}/vendors/bootstrap-daterangepicker/daterangepicker.js" ></script>
		<!-- PNotify -->
		<link href="{% static 'adminSoccerPool/'%}vendors/pnotify/dist/pnotify.css" rel="stylesheet">
		<link href="{% static 'adminSoccerPool/'%}vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
		<!-- PNotify -->
		<script src="{% static 'adminSoccerPool/'%}vendors/pnotify/dist/pnotify.js"></script>
		<script src="{% static 'adminSoccerPool/'%}vendors/pnotify/dist/pnotify.buttons.js"></script>
		{% if msg %}
		<script>new PNotify({title: '',text: '{{msg}}',type: 'success',styling: 'bootstrap3'});</script>
		{% endif %}
		{% if form.errors %}
		<script>new PNotify({title: '',text: '{{form.errors}}',type: 'success',styling: 'bootstrap3'});</script>
		{% endif %}
		<script type="text/javascript">
			<!-- Meesssage auto reload-->
			$("#messages").load("/AdminSoccerPool/mess");
				setInterval(function () {
					$("#messages").load("/AdminSoccerPool/mess/");
					var str=document.getElementById('messages').innerHTML;
					if(str.indexOf('badge bg-red">')!==-1){
						var num=str.substr(165,10);
						num=num.substr(0,num.indexOf('<'));
						var tt=document.title;
						if(num.length==0 && tt.substr(0,1)=="("){
							document.title = "("+num+") "+tt.substr(tt.indexOf(')')+1);
						}else if(num.length==0){
							document.title = "("+num+") "+tt;
						}else if(tt.substr(0,1)!=="("){
							document.title = "("+num+") "+tt;
						}else{
							document.title = "("+num+") "+tt.substr(tt.indexOf(')')+1);
						}
					}
				}, 60000);
		</script>
