{% load static %}
{% load i18n %}
				<div class="col-md-3 left_col" >
					<div class="left_col scroll-view " >
						<div class="navbar nav_title " style="border: 0;">
							<h4 class="site_title"><img src="{% static 'img/' %}icon-admin.png" width="30px" ><span>{% trans 'TitleAdmin' %}</span></h4>
						</div>
						<div class="clearfix"></div>
						<!-- menu profile quick info -->
						<div class="profile clearfix">
							<div class="profile_info">
								<span>{% trans 'Welcome' %} <strong>{{request.user.first_name}}</strong></span>
								<h2>{{request.user.username}}</h2>
							</div>
						</div>
						<!-- /menu profile quick info -->
						<!-- sidebar menu -->
						<div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
							<div class="menu_section">
								<ul class="nav side-menu">
									<li><a href="{% url 'adminIndex' %}"><i class="fa fa-home"></i>{% trans 'Home' %}</a></li>
									<li><a><i class="fa fa-trophy"></i>{% trans 'Tournaments' %}<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a href="{% url 'newTournament' %}">{% trans 'New' %}</a></li>
											<li><a href="{% url 'tournamentIndex' %}">{% trans 'Edit' %}</a></li>
										</ul>
									</li>
									<li><a><i class="fa fa-users"></i>{% trans 'Teams' %}<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a href="{% url 'newTeam' %}">{% trans 'New' %}</a></li>
											<li><a href="{% url 'teamIndex' %}">{% trans 'Edit' %}</a></li>
										</ul>
									</li>
									<li><a><i class="fa fa-user"></i>{% trans 'Users' %}<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a href="{% url 'playersIndex' %}">{% trans 'View' %}</a></li>
										</ul>
									</li>
									<li><a><i class="fa fa-user"></i>{% trans 'Admin' %}<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><a href="{% url 'adminIndex' %}usersAdmin/auth/user" target="_blank">{% trans 'UsersAdmin' %}</a></li>
											<li><a href="{% url 'adminIndex' %}usersAdmin/translation_manager/translationentry/" target="_blank">{% trans 'Messages' %}</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					<!-- /sidebar menu -->
					</div>
				</div>
				<!-- top navigation -->
				<div class="top_nav">
					<div class="nav_menu">
					<nav>
						<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<img src="{% static 'img/' %}icon-admin-dark.png" alt="{{request.session.username}}" title="{{request.session.username}}">{{request.session.username}}<span class=" fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i>{% trans 'Logout' %}</a></li>
									<li style="height:40px">
										<div align="center">
											<a href="{% url 'index' %}account/lang/es/"><img src="{% static 'img/'%}es.png" height="20px" width="20px" /></a>
											<a href="{% url 'index' %}account/lang/en/" style="margin-left:1em;"><img src="{% static 'img/'%}en.png" height="20px" width="20px" /></a>
										</div>
									</li>
								</ul>
							</li>
							<li role="presentation" class="dropdown" id="messages"></li>
						</ul>
					</nav>
					</div>
				</div>
				<!-- /top navigation -->
