<!DOCTYPE html>
<html lang="zxx">

{%include 'head.html'%}
{% load i18n %}
{% load static %}

  <body id="HOME">
    <!-- Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>
    {%include 'header.html'%}
    <div style="margin-top:30px;">

      <section class="contact-section spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-text">
                <div class="contact-title">
                  <h3>{%trans 'EditGame'%}</h3>
                </div>
                <div class="contact-form">
                  <div class="dt-leave-comment text-center">
                    <form method="post">
                      {% csrf_token %}
                      <div class="input-list">
                        <input type="text" class="input-value" name="name" placeholder="{%trans 'Name'%}*" value="{{data.name}}" required {%if request.user.id != data.userId.id%}disabled{%endif%}>
                      </div>
                      <div class="input-list">
                        <h4 class="text-center">{%trans 'Code'%}: {{data.code}}</h4>
                        <button type="bottom" class="col-lg-2" onclick="copy();" ><span>{%trans 'CopyShareLink'%}</span></button>
                      </div>
                      <br />
                      <br />
                      <br />
                      <div class="input-list">
                        <h4 class="text-center">{%trans 'fullDrawGames'%}</h4>
                        <div class="radio-check">
                          <label class="text-white">1
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'0:1' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                          <label class="text-white">2
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'1:2' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                          <label class="text-white">3
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'2:3' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                          <label class="text-white">4
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'3:4' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                          <label class="text-white">5
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'4:5' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                          <label class="text-white">6
                            <input type="checkbox" disabled {%if data.fullDraw|slice:'5:6' == '1'%}checked{%endif%}>
                            <span class="checkbox"></span>
                          </label>
                        </div>
                      </div>

                      {%if data.started == '0' and joined == 0%}
                      <br />
                      <br />
                      <br />
                      <h4 class="text-center">{%trans 'Position'%}</h4>
                      <div class="row offset-lg-4 col-lg-6 text-white">
                        <div class="offset-lg-2 col-lg-2">{{players.4|default:"Pos 5"}}
                          <input type="radio" name="pos" value="4" {%if players.5 != ''%}disabled{%endif%}>
                        </div>
                        <div class="offset-lg-2 col-lg-2">{{players.3|default:"Pos 4"}}
                          <input type="radio" name="pos" value="3" {%if players.4 != ''%}disabled{%endif%}>
                        </div>
                        <div class="col-lg-4"></div>

                        <div class="col-lg-2">{{players.0}}
                          <input type="radio" name="pos" value="0" disabled>
                        </div>
                        <div class="col-lg-6"><img src="{%static ''%}img/table.png" style="width:200px; height:80px; border-radius:20%;margin-left:auto; margin-left:0;" /></div>
                        <div class="col-lg-4"></div>

                        <div class="offset-lg-2 col-lg-2">{{players.1|default:"Pos 2"}}
                          <input type="radio" name="pos" value="1" {%if players.2 != ''%}disabled{%endif%}>
                        </div>
                        <div class="offset-lg-2 col-lg-2">{{players.2|default:"Pos 3"}}
                          <input type="radio" name="pos" value="2" {%if players.3 != ''%}disabled{%endif%}>
                        </div>
                        <div class="col-lg-4"></div>

                      </div>
                      {%endif%}
                      <div class="input-list row text-center">
                        <input type="hidden" name="fullDraw" id="fullDraw">
                        <input type="hidden" name="private" value="1">
                        <input type="hidden" name="speed" value="5">
                        <input type="hidden" name="maxPlayers" value="5">
                        <input type="hidden" name="code" value="{{data.code}}">
                        <h4 class="text-center col-lg-12">{{msg}}</h4>
                        {%if request.user.id != data.userId.id%}<div class="col-lg-1"></div>{%endif%}
                        {%if joined == 1 %}
                        <button type="button" onclick="window.location.href='{%url 'game' data.id%}'" class="offset-lg-2 col-lg-2" name="goBTN" value="1"><span>{%trans 'Go'%}</span></button>
                        {%endif%}
                        {%if request.user.id == data.userId.id and joined == 1 and data.started == '0'%}
                        <button type="submit" class="offset-lg-1 col-lg-2" name="editBTN" value="1" ><span>{%trans 'Edit'%}</span></button>
                        {%endif%}
                        {%if joined == 1 and data.started == '0' and  request.user.id == data.userId.id%}
                        <button type="submit" class="offset-lg-1 col-lg-2" name="hideBTN" value="1" ><span>{%trans 'Delete'%}</span></button>
                        {%elif data.started == '0' and joined == 0%}
                        <button type="submit" class="offset-lg-1 col-lg-2" name="joinBTN" value="1" ><span>{%trans 'Join'%}</span></button>
                        {%endif%}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {%include 'footer.html'%}
      <script>
        function showNotify(msg) {
          $.notify({
            message: msg
          }, {
            // settings
            position: null,
            type: 'info',
            delay: 3000,
            placement: {
              from: "bottom",
              align: "center"
            }
          });
        }
        function copy() {
          const el = document.createElement('textarea');
          el.value = "Hi!,\nJoin me here to play a Rummi game!\nuse this code in tha app: {{data.code}} or click here\nhttps://rummi.theozserver.com/joinGame/{{data.code}}/";
          el.setAttribute('readonly', '');
          el.style.position = 'absolute';
          el.style.left = '-9999px';
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
          showNotify('Share Link Copied to Clipboard');
        }
      </script>
    </div>
  </body>

</html>
