{% load i18n %}
{% load static %}
<section class="video-guide-section" id="RULES" style="flex-grow : 1; padding-top:100px;">
  <div class="container" style="margin-bottom:250px">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text">
          <div class="contact-title">
            <h3>{%trans 'GameRules'%}</h3>
          </div>
          <div class="contact-form">
            <div class="dt-leave-comment text-center text-white">
              {%trans 'GameRulesDesc'%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
