<!DOCTYPE html>
<html lang="zxx">

{%include 'head.html'%}
{% load i18n %}
{% load static %}

  <body id="HOME">
    <!-- Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>
    {%include 'header.html'%}
    <div style="margin-top:30px;">
      <!-- GAME RULES SEC -->
      {%include 'home.html'%}
      <!-- GAME RULES SEC END -->
      {%if request.user.is_authenticated%}
      <!-- MY GAMES SEC -->
      {%include 'myGames.html'%}
      <!-- MY GAMES SEC END -->
      <!-- CREATE GAME SEC -->
      {%include 'createGame.html'%}
      <!-- CREATE GAME SEC END-->
      <!-- SEARCH GAME SEC -->
      {%include 'searchGame.html'%}
      <!-- SEARCH GAME SEC END -->
      {%endif%}
      <!-- GAME RULES SEC -->
      {%include 'gameRules.html'%}
      <!-- GAME RULES SEC END -->

      {%include 'footer.html'%}
    </div>
  </body>

</html>
