<!DOCTYPE html>
<html lang="zxx">

{%include 'head.html'%}
{% load i18n %}
{% load static %}
<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  {%include 'header.html'%}
  <section class="contact-section spad" style="margin-top:30px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-text">
            <div class="contact-form">
              <div class="dt-leave-comment text-center">
                <h3 class="text-white">{%trans 'PasswordChanged'%}</h3>
                <form>
                <div class="col-lg-12">
                  <button type="button" onclick="window.location.href='{%url 'playerLogin'%}'" class="col-lg-4">{% trans 'Login'%}</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%include 'footer.html'%}
</body>

</html>
