{% load i18n %}
{% load static %}
<section class="instagram-post-section" id="SETTINGS" style="flex-grow : 1; padding-top:100px;">
  <div class="container" style="margin-bottom:150px">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text">
          <div class="contact-title">
            <h3>{%trans 'Settings'%}</h3>
          </div>
          <div class="contact-form">
            <div class="dt-leave-comment text-center">
              <form method="post">
                {% csrf_token %}
                <div class="input-list">
                  <input type="text" class="input-value" name="name" placeholder="{%trans 'Name'%}*" required>
                </div>
                <div class="input-list row text-center">
                  <button type="submit" class="offset-lg-5 col-lg-2" name="createBTN" value="1"><span>{%trans 'Save'%}</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function changeFD(){
    fd = '';
    if(document.getElementById("fd1").checked)
      fd += '1';
    else
      fd+='0';
    if(document.getElementById("fd2").checked)
      fd += '1';
    else
      fd+='0';
    if(document.getElementById("fd3").checked)
      fd += '1';
    else
      fd+='0';
    if(document.getElementById("fd4").checked)
      fd += '1';
    else
      fd+='0';
    if(document.getElementById("fd5").checked)
      fd += '1';
    else
      fd+='0';
    if(document.getElementById("fd6").checked)
      fd += '1';
    else
      fd+='0';
    document.getElementById("fullDraw").value=fd;
  }
</script>
